useDynLib(dgraphs, .registration = TRUE)
export(adjlist.to.igraph)
export(as_igraph)
export(compute.graph.distance)
export(compute.graph.diameter)
export(create.adaptive.radius.graph)
export(create.cknn.graph)
export(create.cmst.graph)
export(create.complete.graph)
export(create.empty.graph)
export(create.geodesic.iknn.graph)
export(create.grid.graph)
export(create.iknn.graphs)
export(create.iterated.iknn.graphs)
export(create.mknn.graph)
export(create.mknn.graphs)
export(create.path.graph)
export(create.path.graph.series)
export(create.random.graph)
export(create.radius.graph)
export(create.rknn.graph)
export(create.single.iknn.graph)
export(create.sknn.graph)
export(create.star.graph)
export(create.threshold.distance.graph)
export(graph.adj.mat)
export(graph.connected.components)
export(graph.geodesic.distances)
export(join.graphs)
export(remove.knn.outliers)
export(get.shortest.path)
export(shortest.path)
export(wgraph.prune.long.edges)
S3method(print,path.graph)
S3method(summary,path.graph)
S3method(print,knn.outliers)
S3method(print,summary.knn.outliers)
S3method(print,adaptive_radius_graph)
S3method(print,cknn_graph)
S3method(print,mknn_graph)
S3method(print,mknn_graphs)
S3method(print,mst_completion_graph)
S3method(print,radius_graph)
S3method(print,sknn_graph)
S3method(print,summary.mst_completion_graph)
S3method(summary,mknn_graphs)
S3method(summary,mst_completion_graph)
S3method(summary,IkNN)
S3method(summary,iknn_graphs)
S3method(summary,iterated_iknn_graphs)
S3method(summary,knn.outliers)
