build/
library/
output/
tmp/
dgraphs.R
dgraphs.html
dgraphs.log
dgraphs.pdf
dgraphs.tex
dgraphs_files/
figures/*.pdf
figures/*.png
motivation-letter/motivation-letter.pdf
RJwrapper.log
RJwrapper.tex
*.aux
*.bbl
*.blg
*.out
*.toc
